{
   "queues":[
      {
         "name":"oepp.audit.queue.retry",
         "vhost":"/",
         "durable":true,
         "auto_delete":false,
         "arguments":{
            "x-dead-letter-exchange":"OEPPAuditExchange",
            "x-message-ttl":30000,
            "x-dead-letter-routing-key":"audit"
         }
      },
      {
         "name":"oepp.audit.queue.error",
         "vhost":"/",
         "durable":true,
         "auto_delete":false,
         "arguments":{

         }
      },
      {
         "name":"oepp.audit.queue",
         "vhost":"/",
         "durable":true,
         "auto_delete":false,
         "arguments":{
            "x-dead-letter-exchange":"OEPPAuditExchange",
            "x-dead-letter-routing-key":"retry"
         }
      }
   ],
   "exchanges":[
      {
         "name":"OEPPAuditExchange",
         "vhost":"/",
         "type":"direct",
         "durable":true,
         "auto_delete":false,
         "internal":false,
         "arguments":{

         }
      }
   ],
   "bindings":[
      {
         "source":"OEPPAuditExchange",
         "vhost":"/",
         "destination":"oepp.audit.queue",
         "destination_type":"queue",
         "routing_key":"audit",
         "arguments":{

         }
      },
      {
         "source":"OEPPAuditExchange",
         "vhost":"/",
         "destination":"oepp.audit.queue.error",
         "destination_type":"queue",
         "routing_key":"error",
         "arguments":{

         }
      },
      {
         "source":"OEPPAuditExchange",
         "vhost":"/",
         "destination":"oepp.audit.queue.retry",
         "destination_type":"queue",
         "routing_key":"retry",
         "arguments":{

         }
      }
   ]
}